<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm mới học sinh</title>
    <th:block th:replace="~{common::library}"></th:block>
</head>
<body>
<div th:replace="~{common::header}"></div>
<div class="container">
    <div class="alert alert-danger">
        <ul>
            <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>

    <form th:action="@{/student/create}" th:object="${student}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Tên: </label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ: </label>
            <input type="text" class="form-control" id="address" name="address" th:field="*{address}"/>
        </div>
        <div class="mb-3">
            <label for="point" class="form-label">Điểm: </label>
            <input type="text" class="form-control" id="point" name="point" th:field="*{point}"/>
        </div>
        <div class="mb-3">
            <label for="idClass" class="form-label">Lớp: </label>
            <input type="number" class="form-control" id="idClass" name="idClass" th:field="*{idClass}"/>
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
</div>
</body>
</html>
